.homeworkContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #88dc79;
  }
  
  .homeworkTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }